  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    min-width: 325px;
  }

  .nav {
    background: #dd8c61;
    min-height: 44px;
  }

  .nav a {
    position: relative;
    top: 13px;
    left: 4px;
    display: inline-block;
    text-decoration-line: none;

  }
